<!-- Sourced from http://codepen.io/frytyler/pen/EGdtg -->
<html>

<head>
<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" >
</head>

<body>
<div class="login">
	<h1>Log In</h1>
    <form method="post" action="{{nextPage}}">
    	<input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Log me in.</button>
    </form>
	<center>
		<a href="/signUp.html"> Sign up </a>  |  <a href="/about.html"> About </a>
</div>
</body>

</html>
